{% extends 'base.html' %}

{% block header %}
			<h1>{% block title %}movie list test{% endblock %}</h1>
			<ul class="test">
				<li>Order By: </li>
				<li><a href="{{ url_for('tmdb.list_movie_test') }}/title">title</a></li>
				<li><a href="{{ url_for('tmdb.list_movie_test') }}/add-date">add-date</a></li>
				<li><a href="{{ url_for('tmdb.list_movie_test') }}/add-date-desc">add-date-desc</a></li>
				<li><a href="{{ url_for('tmdb.list_movie_test') }}/release-date">release-date</a></li>
				<li><a href="{{ url_for('tmdb.list_movie_test') }}/release-date-desc">release-date-desc</a></li>
			</ul>
{% endblock %}

{% block content %}
		<div id="search_results">
		{% for r in view_results %}
			<div class="search_result">
				<a class="play_link" href="{{ url_prefix }}{{ r.rel_path|urlencode }}">play</a>
				<h3><a href="{{ r.tmdb_link }}">{{ r.title }}</a></h3>
				<ul>
					<li>Release Date: {{ r.release_date }}</li>
					<li>Description:
						<p>{{ r.overview }}</p>
					</li>
				</ul>
			</div>
		{% endfor %}
		</div>
{% endblock %}
