{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}TMDB Query{% endblock %}</h1>
{% endblock %}

{% block content %}
	{% if view_data|length == 0 %}
		<form method="post" action="">
			<input name="query" id="query">
			<input type="submit" value="Search">
		</form>
	{% else %}
	<div id="search_results">
		<h2>Query Results</h2>
		{% for r in view_data %}
			<div class="search_result">
			{% if r.poster_path != None and r.poster_path != '' %}
				<img class="result_image" src="{{ '/pvdb/tmdb/images' + r.poster_path }}" />
			{% else %}
				<img class="result_image" src="{{ url_for('static', filename='no_poster_w154.jpg') }}" />
			{% endif %}
				<h3><a href="{{ r.tmdb_link }}">{{ r.title }}</a></h3>
				<ul>
					<li>Release Date: {{ r.release_date }}</li>
			{% if r.media_type == media_type.TV_SHOW %}
					<li><a href="{{ url_for('.tv_details') }}?tv_id={{ r.tv_id }}">get tv details</a></li>
			{% endif %}
					<li>Description:
						<p>{{ r.overview }}</p>
					</li>
				</ul>
			</div>
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}
