{% extends 'base.html' %}

{% block header %}
		<h1>{% block title %}TV Details{% endblock %}</h1>
{% endblock %}

{% block content %}
		<section>
			<ul>
	{% for season in seasons %}
		{% for k,v in season.items() %}
				<li>{{ k }}: {{ v }}</li>
		{% endfor %}

		{% for episode in episodes[loop.index0] %}
					<ul>
			{% for k,v in episode.items() %}
						<li>{{ k }}: {{ v }}</li>
			{% endfor %}
					</ul>
					<hr />
		{% endfor %}
	{% endfor %}
			</ul>
		</section>
{% endblock %}
