{% extends 'base.html' %}

{% block extra_js %}
	<script type="text/javascript" src="{{ url_for('static', filename='file_listing.js') }}"></script>
{% endblock %}

{% block header %}
		<h1>{% block title %}File Listing{% endblock %}</h1>
{% endblock %}

{% block content %}
		<p id="noscript" class="flash">Javascript needs to be enabled for this page</p>
		<div id="js_errors" class="flash"></div>
{% endblock %}

{% block templates %}
	<template id="query_results">
		<div id="query_result_container">
			<a id="query_close" href="">Close</a>
			<h1>Query Results</h1>
		</div>
	</template>
	<template id="query_result">
		<div class="search_result">
			<img class="result_image" src="{{ url_for('static', filename='no_poster_w154.jpg') }}" />
			<h3><a href=""></a></h3>
			<ul>
				<li><a class="mapping_link" href="">Click here to Select</a></li>
				<li>Release Date: <span class="query_release_date"></span></li>
				<li>Description: <p class="query_description"></p></li>
			</ul>
		</div>
	</template>
	<template id="mapping_success">
		<div class="success_container">
			<h3>File Mapping Success</h3>
			<p></p>
		</div>
	</template>
{% endblock %}
