html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.content:last-child { margin-bottom: 0; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content textarea { min-height: 12em; resize: vertical; }
input { color: #333; background-color: #eee; }
input.danger { color: #cc2f2e; }
.debug { background: lightgrey; padding: 1em; overflow: auto; border: 1px solid darkgrey }
.content li { list-style: ' - '; }
.folder { background: lightblue; }
.file { background: orange; }
.file_stored { background: lightgreen; }

.flash {
	position: fixed; bottom: 1em;
	margin: 1em 0; padding: 1em; border: 1px solid #377ba8;
	background: #cae6f6;
}

#query_result_container,
.success_container {
	position: fixed;
	top: 25%; left: 25%;
	width: 50%; height: 50%;
	padding: 1em;
	background-color: darkgrey;
	overflow: auto;
}

.query_description { border: 0; padding: 0; margin: 0; }
#query_close { float: right; }

.search_result {
	overflow: auto;
	max-height: 231px; max-width: 400px;
	border: 1px solid blue;
	margin-bottom: 1em; padding: 0.5em 1em;
	background: lightblue;
}
.search_result h3, .search_result ul { border: 0; padding: 0; margin: 0 }
.search_result ul { font-size: 0.75em; }
.search_result li { list-style: none; }
.search_result img { float: left; margin-right: 1em; }
.play_link { float: right; }

.test li { list-style: none; display: inline; padding-left: 0.5em; }
