<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %} - pvdb</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	{% block extra_js %}{% endblock %}
</head>
<body>
	<nav>
		<h1>pvdb</h1>
		<ul>
			<li><a href="{{ url_for('index') }}">Home</a>
			<li><a href="{{ url_for('file_listing.getBaseFolderContents') }}">File Listing_Async</a>
			<li><a href="{{ url_for('tmdb.manual_query') }}">Query</a>
		</ul>
	</nav>
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>

		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}

		{% block content %}{% endblock %}
	</section>
	<section class="debug">
		<h3>Debug Info</h3>
		<pre>{{ debug_str }}</pre>
	</section>
	{% block templates %}{% endblock %}
</body>
</html>
