{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}INDEX PAGE!{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div>
		<ul>
			<li><a href="{{ url_for('tmdb.list_movie_test') }}">Movie Listing</a></li>
		</ul>
	</div>
{% endblock %}
